<h1 id="component-title">{{title}}</h1>

<p data-test-top-level-component-message>top level component</p>

<button type="button" id="toggle-expanded" {{action 'toggleIsExpanded'}}>Expand something</button>

{{#if isExpanded}}
  <p id="expanded-content">Expanded!</p>
{{/if}}

{{nested-component nestedAction='toggleIsExpanded'}}
